.footer {
    background-color: var(--primery-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    &-container {
        display: flex;
        align-items: baseline;
    }
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primery-white-color);

    transition: color var(--animation);
    &-first-part {
        color: var(--accent-color);
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
