.logo {
    

    min-width: 145px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    color: var(--primery-title-color);
    transition: color var(--animation);
    &__first {
        color: var(--accent-color);
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

@media screen and (min-width:768px){
   .logo {
       margin-right: 88px;
   } 
}
@media screen and (min-width:1200px) {
    .logo {
        margin-right: 93px;
    }
}

