.logo {
    margin-right: 93px;

    min-width: 145px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    color: var(--primery-title-color);
    transition: color var(--animation);
    &__first {
        color: var(--accent-color);
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



