.menu-button {
    position: relative;
    margin-left: auto;
    width: 40px;
    height: 40px;
    display: block;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.menu-button__icons{
    display: block;
}


.menu-button__open{
    position: relative;
    opacity: 1;
    transform: scale(1) rotate(0) translateY(0);
    transform-origin: center;
    transition: opacity var(--animation), fill var(--animation);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-button.is-active .menu-button__open {
    opacity: 0;
    transform: scale(0.3) rotate(90deg) translateY(100%);
    z-index: 1;
}
.menu-button__close{
    opacity: 0;
    transform-origin: center;
    transition: opacity var(--animation), transform var(--animation) ;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-button.is-active .menu-button__icons {
    position: fixed;
    top: 10px;
}
.menu-button.is-active .menu-button__close {
    opacity: 1;
    z-index: 3;
}

@media screen and (min-width: 768px) {
    .head__container {
        display: flex;
        align-items: center;
    }
    .menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}


